<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="primer.min.css" />
    <style>
      .gallery {
        display: grid;
        margin: 16px;
        grid-template-columns: repeat(auto-fill, 288px);
        column-gap: 16px;
        row-gap: 16px;
      }

      .gallery-item__image {
        width: 288px;
      }
    </style>
  </head>
  <body>
    <div class="gallery">
      {{#images}}
      <div class="gallery-item">
        <button class="gallery-item__control btn btn-sm my-2" data-url="{{{url}}}">
          Copy URL
        </button>
        <img class="gallery-item__image" src="{{{url}}}" />
      </div>
      {{/images}}
    </div>
    <script src="clipboard.min.js"></script>
    <script>
      document.querySelectorAll(".gallery-item__control").forEach(el => {
        el.dataset.clipboardText = new URL(el.dataset.url, document.baseURI).href;
      });
      new ClipboardJS(".gallery-item__control");
    </script>
  </body>
</html>
